$primary: #808080;
$secondary: #e9ecef;
$dark: #343a40;
$darker: #131517;
$light: #ffffff;
$highlight: #007bff;

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  darkColor: $dark;
  darkerColor: $darker;
  lightColor: $light;
  highlightColor: $highlight;
}
